body {
  background-color: aliceblue;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  padding-top: 200px;
  height: 100vh;
}

.container .cont-1 {
  padding: 80px;
}

.container .cont-1 .fb-name {
  color: #0866ff;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container .cont-1 .tag-line {
  font-size: 2em;
  font-weight: 400;
}

.container .login-form {
  background-color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 20px;
  width: 300px;
  margin: 40px 0 0;
  padding: 20px;
  width: 396px;
  height: fit-content; 
}
.email-phone, .password {
  border: 2px solid rgb(184, 181, 181);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  padding-left: 10px;
}

.btn-primary {
  width: 100%;
  height: 48px;
}

.btn-success {
  background-color: #42b72a;
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
  height: 48px;
  padding: none;
  text-align: center;
}

.fg-pass {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}
.fg-pass:hover {
  text-decoration: underline;
}

.ex-line {
  margin-top: 20px;
}
.new-page {
  text-decoration: none;
  color: black;
}
.new-page:hover {
  text-decoration: underline;
}

@media (max-width: 990px){
 .container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  margin-top: none;
  
 }
.cont-1 {
  text-align: center;
 }
}